@model Category

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>
<h5>The category not only shows where do we spend our budjet but also our incomes</h5>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TypeOperationId" class="form-label"></label>
        <select asp-for="TypeOperationId" asp-items="Html.GetEnumSelectList<TypeOperation>()" class="form-select"></select>
        <span asp-validation-for="TypeOperationId" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Send</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>

@section Scripts{
        <partial name="_ValidationScriptsPartial" />
}