@model TransactionCreateViewModel

@{
    ViewData["Title"] = "Create Transaction";
}

<h1>Create Transaction</h1>
<h5>Transactions allows you to sort off your Incomings and Outgoings</h5>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="DateTransaction" class="form-label"></label>
        <input asp-for="DateTransaction" class="form-control" />
        <span asp-validation-for="DateTransaction" class="text-danger"></span>
    </div>

    <div class="mb-3">
    <label asp-for="AccountId" class="form-label"></label>
    <select asp-for="AccountId" asp-items="Model.Accounts" class="form-select"></select>
        <span asp-validation-for="AccountId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="TypeOperationId" class="form-label"></label>
        <select asp-for="TypeOperationId" asp-items="Html.GetEnumSelectList<TypeOperation>()" 
            class="form-select"></select>
        <span asp-validation-for="TypeOperationId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId"
                class="form-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Comment" class="form-label"></label>
        <textarea asp-for="Comment" class="form-control"></textarea>
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">send</button>
    <a class="btn btn-secondary" asp-action="index">cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        const obtainCategoriesUrl = '@Url.Action("ObtainCategories")';

        $(function(){
            $("#TypeOperationId").change(async function(){
                const selectedValue = $(this).val();

                const response = await fetch(obtainCategoriesUrl, {
                    method:'POST',
                    body: 'selectedValue',
                    headers: {
                        'Content-Type':'application/json'
                    }
                });
            
                const json = await response.json();
                console.log(json);
            })
        })

    </script>
}
